@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
/* orange background */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* primary button  */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.text-primary{
    color: #FF900E;
}
main, .teams, .features, .some-facts, .our-sponsors, footer{
    max-width: 1440px;
    margin: 130px auto 0px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.facts-description{
    max-width: 540px;
}
.hidden{
    display: none;
}
/*==================================== header style =============================== */

/* ======================== navbar related style ================================ */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* =================================== banner related style ===================== */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    max-width: 100%;
    margin-bottom: 45px;
}


/* team and feature related style  */
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}

.quick-list{
    font-weight: 500;
}
/* feature related styles */
.features{
    gap: 140px;
    
}

#feature-section-title{
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature-architect img{
    width: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: -54px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 230px;
    max-width: 1440px;
    
}
.fact{
    border: 2px solid #FF900E;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 5% 3% 0 3%;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.35rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 150px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* =================================== footer related style ============================ */
footer{
    margin-bottom: 100px;
    background-color: #FFF4E7;
    padding: 20px 0px 20px 0px;
    border-radius: 8px;
    text-align: center;
}
/* responsive and media query */
@media screen and (max-width: 576px){
    .navbar{
        text-align: center;
    }
    .navbar, .nav-links, .teams, .features {
        flex-direction: column;
    }
    .banner-title, #feature-section-title, .section-title{
        font-size: 1.5rem;
        margin: 2% auto;
    }
    .banner-description{
        font-size: .8rem;
        max-width: 90%;
        margin: 1% auto;
    }
    .facts-description{
        font-size: .8rem;
    }
    header .btn-primary {
        padding: 2% 5%;
        font-size: .8rem;
        margin-top: 2%;
    }
    .feature-architect #experience-badge{
        font-size: .8rem;
        padding: 3% 5%;
        width: 100%;
    }
    .feature-architect #experience-badge #experience-year{
        font-size: 1.2rem;
    }
    .team-image-container, .facts-container, .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }

    .facts-container, .sponsor-companies{
        justify-content: center;
        gap: 20px;
        
    }
    .fact{
        padding: 6% 3% 0 3%;
        width: 100%;
    }
    
    #experience-badge{
        margin-top: 20px;
        margin-left: 0px;
        padding: 20px 25px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #experience-year{
        font-size: 1.5rem;
    }
}
/* medium size devices */
@media screen and (min-width: 577px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .features{
        flex-direction: column;
    }
        #experience-badge{
        margin-top: 20px;
        margin-left: 0px;
        padding: 20px 25px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .feature-architect #experience-badge{
        font-size: .8rem;
        padding: 3% 5%;
        width: 100%;
    }
    .feature-architect #experience-badge #experience-year{
        font-size: 1.2rem;
    }
    .fact{
        padding: 6% 3% 0 3%;
        width: 100%;
    }
}